/node_modules
/public/hot
/public/storage/dom-pdf-fonts/dompdf_font_family_cache.php
/storage/dom-pdf-fonts/dompdf_font_family_cache.php
/storage/app/public
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
/storage/debugbar/Xfeb88b8dc6574d01d969469e13bad08e.json
/storage/debugbar/Xff3531c01a6f0ddf4d3310b2c3bc11b2.json
storage/debugbar/Xa78027a4f917c4699208ffd062b92d7a.json
storage/debugbar/*
storage/framework/sessions/*
storage/tempdir/mpdf/ttfontdata/*
